.header__auth-link {
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #ffffff;
    text-decoration: none;
}

.header__auth-link:hover {
    color: #0000ff;
}
