.login-form__input {
    background: transparent; 
    border-bottom: 2px solid #CCCCCC;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    margin-top: 30px;
    color: #FFFFFF;
}