.header {
    display: flex;
    max-width: 880px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    margin: auto;
    padding-top: 45px;
    width: 100%;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .header {
        max-width: 320px;
        margin: 28px 0 0 0;
    }
}
